/* css reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body{
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    background-color: #F6F5F3;
}

header{
    height: 100px;
    background-color: #fff;
}

h1{
    font-family: 'Nerko One', cursive;
    font-size: 60px;
    color: #FF9614;
    line-height: 100px;
    text-align: center;
    text-shadow: 1px 1px 3px #000000 ;
}
/* Utils */

.container{
    max-width: 1200px;
    margin: 0 auto;
}